name: Deploy to Hugging Face Spaces

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Push to Hugging Face Spaces
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          
          git remote add hf https://Abeshith:$HF_TOKEN@huggingface.co/spaces/Abeshith/RAG-Project
          
          # Only push necessary files
          git add project/ templates/ static/ app.py Dockerfile requirements.txt .dockerignore README.md
          
          # Push to HF Space
          git push hf main:main --force
